<div class="mb-4">
   <h3>Transaction History</h3>
</div>
<table class="table" *ngIf="!errorMessage && !isLoading">
   <thead>
      <tr>
         <th scope="col">Date</th>
         <th scope="col">Transaction</th>
         <th scope="col">Symbol</th>
         <th scope="col">Quantity</th>
         <th scope="col">Stock Price</th>
         <th scope="col">Transaction Amount</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let transaction of transactions">
         <td>{{ transaction.timestamp | date:'short' }}</td>
         <td [ngClass]="transaction.quantity < 0 ? 'text-success' : 'text-danger' ">{{ (transaction.quantity < 0 ? (transaction.symbol == 'DEPOSIT' ? 'Deposit' : 'Sell') : 'Buy') }}</td>
         <td>{{ (transaction.symbol == 'DEPOSIT' ? '-' : (transaction.symbol | uppercase)) }}</td>
         <td>{{ (transaction.symbol == 'DEPOSIT' ? '-' : (transaction.quantity | abs)) }}</td>
         <td>{{ (transaction.symbol == 'DEPOSIT' ? '-' : (transaction.stockPrice | currency:'USD')) }}</td>
         <td [ngClass]="transaction.quantity < 0 ? 'text-success' : 'text-danger' ">{{ transaction.totalTransactionAmount | currency:'USD' }}</td>
      </tr>
   </tbody>
</table>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
   {{ errorMessage }}
</div>
<div *ngIf="isLoading">
   <app-loading-spinner></app-loading-spinner>
</div>