<div class="mb-4">
   <h3>Buy Stocks</h3>
</div>
<form [formGroup]="buyForm" (ngSubmit)="onSubmit()" class="justify-content-center" *ngIf="!isLoading">
   <div class="form-group my-2">
      <input 
         type="text" 
         id="symbol" 
         formControlName="symbol" 
         class="form-control my-2"
         placeholder="Symbol/Company..."
         autocomplete="off"
         [(ngModel)]="selected"
         [typeahead]="symbols"
         typeaheadOptionField="prettyPrinted"
         [adaptivePosition]="true"
         [typeaheadItemTemplate]="customItemTemplate"
         [typeaheadOptionsLimit]=10
         (typeaheadOnSelect)="onSelect($event)">
      <input 
         type="number" 
         id="quantity" 
         formControlName="quantity" 
         class="form-control my-2"
         placeholder="Shares...">
   </div>
   <div class="row justify-content-center" style="height: 40px;">
      <span>{{ currentlySelectedCompanyName }}</span>
   </div>
   <button type="submit" class="btn btn-primary my-2" [disabled]="!buyForm.valid || isLoading">Buy</button> 
</form>

<div *ngIf="errorMessage" class="alert alert-danger" role="alert">
   {{ errorMessage }}
</div>
<div *ngIf="isLoading">
   <app-loading-spinner></app-loading-spinner>
</div>

<ng-template #customItemTemplate let-model="item" let-index="index">
   {{model.symbol}} - {{ model.companyName }}
</ng-template>