<app-header></app-header>
<div class="container">
  <div class="row justify-content-center" style="margin-top: 20px;">
    <div class="col-xs-12 text-center">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <footer class="small text-center text-muted">
        Data provided for free by <a href="https://iextrading.com/developer" target="_blank">IEX</a>. View <a
          href="https://iextrading.com/api-exhibit-a/" target="_blank">IEX’s Terms of Use</a>.
      </footer>
    </div>
  </div>
</div>